
5. Configs/left4dead2/addons/sourcemod/configs/admins_simple.ini
8. Workshop VPK/left4dead2/addons/2524562871.vpk
/10. Maps/left4dead2/addons
/Windows/DS
5. Configs/left4dead2/cfg/custom/DU.cfg
5. Configs/left4dead2/cfg/sourcemod/Discord-Utilities.cfg
6. Specific/Dev/left4dead2/cfg/custom/discord.cfg
6. Specific/Standalone/1/left4dead2/cfg/custom/discord.cfg
6. Specific/Standalone/2/left4dead2/cfg/custom/discord.cfg
6. Specific/Standalone/3/left4dead2/cfg/custom/discord.cfg
6. Specific/Standalone/4/left4dead2/cfg/custom/discord.cfg
6. Specific/Standalone/5/left4dead2/cfg/custom/discord.cfg
6. Specific/Test/left4dead2/cfg/custom/discord.cfg
5. Configs/left4dead2/addons/sourcemod/configs/databases.cfg
5. Configs/left4dead2/addons/sourcemod/configs/core.cfg
